<html>
  <head>
    <title>City Data</title>
  </head>
  <body style="background-color:darkgray;">
    <h1>City Data</h1>
    <ul>
      {{#each locations}}
        <li><b>{{city}}:</b> Latitude - {{lat}}, Longitude - {{lng}}</li>
      {{/each}}
    </ul>
  </body>
</html>